@use "../../assets/sass/abstracts/variables" as *;

.project {
    width: 100%;

    .project__img-container {
        border-radius: 8px;
        overflow: hidden;

        img {
            max-width: 100%;
            display: block;
            border-radius: 8px;
            opacity: 0.5;
            transition: 0.3s ease-in;

            &:hover {
                opacity: 1;
                transform: scale(0.95);
            }
        }
    }

    h3 {
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        color: #6fbab4;
        font-weight: 400;
    }

    h4 {
        font-size: 1.8rem;
        letter-spacing: 0.12rem;
        text-transform: uppercase;
        font-family: $secondary-font;
    }

    p {
        font-size: 1rem;
        font-weight: 400;
        color: #68747e;
    }
}
